.drawerOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  justify-content: flex-end;

  background: transparent;
}

.drawer {
  width: 90%;
  height: calc(100% - 4rem);

  margin-top: 2rem;
  margin-right: 2rem;

  background-color: #4a4c56;

  padding: 3rem 5rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.drawerHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 4rem;

  h2 {
    display: none;
  }
}

.closeBtn {
  background: none;
  border: none;

  color: white;
  font-size: 3rem;
  font-weight: 200;

  cursor: pointer;

  line-height: 1;

  &:hover {
    opacity: 0.7;
  }
}

.drawerNav {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  a {
    color: white;
    text-decoration: none;

    font-size: 1.4rem;
    font-weight: 400;

    &:hover {
      color: #d97706;
    }
  }
}